@import './checkInfo';

.display-main{
    position: relative;
    width: 70%;
    height: 100vh;
    margin-left: 22%;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
