$color_white:#F8F9FA;
$color_green:#A0CC36;

.__container_Navbar{
    display: flex !important;
    justify-content: space-between !important;
}

.bg-custom-blue{
    background-color: $color_white;
    border-bottom: 1px solid gray;
    color: #F8F9FA !important;
    
}
.__search_input_container{
    display: flex;
    width: 100%;
    align-content: center;

    .__search_input{
        border: none;
        border-bottom: 1px solid lightgray;
        line-height: 3px;
        font-size: 1.2rem;
        height: 3.7rem;
        width: 90%;
        max-width: 90%;
        outline: none;
    }

   
}
.__navBar_cart_badge_container{
    position:relative;

    .__navBar_cart_badge{
        position: absolute;
        background-color: $color_green;
        color: $color_white;
        border-radius: 50%;
        text-align: center;
        font-size: 10px;
        width: 15px;
        height: 15px;
        top:-2px;
        right:-2px;
    }
}
