$color_white:#F8F9FA;
.bg-custom-blue{
    background-color: $color_white;
    border-bottom: 1px solid gray;
    color: #F8F9FA !important;
    
}

.borders-right{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.borders-left{

    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}