.display-main{
    position: relative;
    width: 80%;
    height: 100vh;
    margin-left: 20%;
    display: flex;
}
.info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
