@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import './profile';
@import './displayMain';
$color_white:#F8F9FA;
$color_green:#A0CC36;
$color_blue: #312450;
$color_lightGray: #ECECEC;

*{
    font-family: 'Lato', sans-serif !important;
}
img{
    max-width: 100%;
}
p{
    font-size: 1.2rem !important;
}



.bg-custom-blue{
    background-color: $color_blue;
    border-bottom: 1px solid gray;
    color: #F8F9FA !important;
    
}
.custom-bg-light{
    background-color: $color_white;
}
.borders-right{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.borders-left{

    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.container-custom{
    margin: 0 auto;
    max-width: 75%;
}

.card-img-top{
    max-width: 332px;
    max-height: 229px;
}

.form-width{
    max-width: 100%;
}
.boton{
    color: $color_white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: none;
    padding: 6.5px 1rem;
}
.btn-verde{
    background-color: $color_green;
}

.div-counter{
    margin-left: 2rem;
}


.input-flex{
    display: flex;
    justify-content: space-around;
}

.input-counter{
    text-align: center;   
    border: none;
    outline: none;
    font-size: 1.2rem;
    width: 4rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.boton-verde{
    background-color: $color_green;
    outline: none;
    border: none;
    padding: 0px 40px 2px;
    margin-bottom: 0px;
    color: $color_white;
    font-size: 1.5rem;
    border-radius: 5px;
    transition: color 300ms ease;
    &:hover{
        color: $color_blue;
    }
    &:focus{
        outline: none;
        border:none
    }
}


.current-mod{
    position: fixed;
    top:25% !important;
    left:25% !important;
    max-width: 800px;
    max-height: 400px;
    

}